.container {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
}

.features {
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.cards {
  background: var(--ifm-color-primary);
  padding: 2rem;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
}

.link {
  width: 60%;
  background-color: var(--ifm-color-primary-darkest);
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.feature {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 996px) {
  .feature {
    flex-direction: column;
  }
}
