/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroImage {
  width: 50%;
  border-radius: 50%;
  height: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    flex-direction: column-reverse;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
